<div class="wrapper">  
  <header class="header">
    <%# 背景画像に載せる %>
    <div class='title-contents'>
      <%= image_tag "header2.png", class:"header-pict" %>
      <div class="top">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "post" %>
      </div>
      <%## 背景画像に載せる %>
    </div>
  </header>
  <div class="contents-row">
    <div class='time-contents'>
      <div class = "lasttime" >
          <% now = Time.now %>
          <% pichour = EXIFR::JPEG.new("app/assets/images/1.jpeg").date_time_original %><br>  
          <% hour = (((now - pichour) / 60 / 60)).floor %>
          <% minuts = (((now - pichour) / 60 ) % 60).floor %>
            <div class='time-text'><%= "最後のご飯から " %></div>
            <div class='time'><%= "#{hour}時間#{minuts}分" %></div>
            <div class='time-text'><%= " 経過" %></div>
      </div>
      <div class = "average" >
          <div class="time2">
            <div class='time-text'><%= "これまでのご飯タイムの平均間隔は " %></div>
            <div class='time'><%= "7時間41分" %></div>
            <div class='time-text'><%= " です" %></div>
          </div>
      </div>
    </div>
    <br><br> 
        <div class='picture'>
          <div class="item-pic">
            <%= image_tag "1.jpeg" , class: "item-img"%>
            <div class="item-date">
                <%= "NEW!" %><br> 
              <%= EXIFR::JPEG.new("app/assets/images/1.jpeg").date_time_original.strftime("%Y年%m月%d日") %><br> 
              <%= EXIFR::JPEG.new("app/assets/images/1.jpeg").date_time_original.strftime("%H:%M:%S") %><br>
            </div>
          </div>
          <div class="item-pic">
            <%= image_tag "2.jpeg" , class: "item-img"%>
            <div class="item-date">
              <%= EXIFR::JPEG.new("app/assets/images/2.jpeg").date_time_original.strftime("%Y年%m月%d日") %><br> 
              <%= EXIFR::JPEG.new("app/assets/images/2.jpeg").date_time_original.strftime("%H:%M:%S") %><br>
            </div>
          </div>
          <div class="item-pic">
            <%= image_tag "3.jpeg" , class: "item-img"%>
            <div class="item-date">
              <%= EXIFR::JPEG.new("app/assets/images/3.jpeg").date_time_original.strftime("%Y年%m月%d日") %><br> 
              <%= EXIFR::JPEG.new("app/assets/images/3.jpeg").date_time_original.strftime("%H:%M:%S") %><br>
            </div>
          </div>
        </div>
  </div> <br> <br> 
  <footer>
  <p>Copyright GOHAN TIME 2020.</p>
  </footer>
</div> 

